@font-face {
  font-family: 'Brandon Grotesque';
  src: url('./BrandonGrotesque-Bold.woff2') format('woff2'),
    url('./BrandonGrotesque-Bold.woff') format('woff'),
    url('./BrandonGrotesque-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('./BrandonGrotesque-Regular.woff2') format('woff2'),
    url('./BrandonGrotesque-Regular.woff') format('woff'),
    url('./BrandonGrotesque-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('./BrandonGrotesque-RegularItalic.woff2') format('woff2'),
    url('./BrandonGrotesque-RegularItalic.woff') format('woff'),
    url('./BrandonGrotesque-RegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('./BrandonGrotesque-Black.woff2') format('woff2'),
    url('./BrandonGrotesque-Black.woff') format('woff'),
    url('./BrandonGrotesque-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('./BrandonGrotesque-Medium.woff2') format('woff2'),
    url('./BrandonGrotesque-Medium.woff') format('woff'),
    url('./BrandonGrotesque-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
